node_modules/*
test/*
src/*
Docs/*
Doc/*
config/*
lib/*
coverage/*
.idea/*
tsconfig.json
tslint.json
yarn.lock
.babelrc
.travis.yml
.github/*
.rpt2_cache/*
build/*
tests/*
.codecov.yml
.eslintrc.js
.eslintignore
.editorconfig
vite.config.js
