
$red:#F1453D;
$red-1:lighten($red,30);
$red-2:lighten($red,20);
$red-3:lighten($red,10);
$red-4:lighten($red,0);
$red-5:darken($red,10);
$red-6:darken($red,20);
$red-7:darken($red,30);

$orange:#ffb311;
$orange-1:lighten($orange,30);
$orange-2:lighten($orange,20);
$orange-3:lighten($orange,10);
$orange-4:lighten($orange,0);
$orange-5:darken($orange,10);
$orange-6:darken($orange,20);
$orange-7:darken($orange,30);

$green:#17cc15;
$green-1:lighten($green,30);
$green-2:lighten($green,20);
$green-3:lighten($green,10);
$green-4:lighten($green,0);
$green-5:darken($green,10);
$green-6:darken($green,20);
$green-7:darken($green,30);

$grey:#c2c5cb;
$grey-1:lighten($grey,30);
$grey-2:lighten($grey,20);
$grey-3:lighten($grey,10);
$grey-4:lighten($grey,0);
$grey-5:darken($grey,10);
$grey-6:darken($grey,20);
$grey-7:darken($grey,30);


$black:#13181b;
$black-1:lighten($black,30);
$black-2:lighten($black,20);
$black-3:lighten($black,10);
$black-4:lighten($black,0);
$black-5:darken($black,10);
$black-6:darken($black,20);
$black-7:darken($black,30);
