@import "./color";

$text-light: #ffffff;

$text:$grey-7;
$text-2:$grey-6;
$text-3:$grey-4;

$bg:$black;
$bg-2:$black-3;
$bg-3:$black-4;

$line-1:$grey;
$line-2:$grey-3;
$line-3:$grey-2;

$disabled-text:$grey-3;
$disabled-bg:$grey-6;


$border-color:$grey-3;
$border-hover-color:$grey-7;
$border-radius: 4px;
$border-drop-radius:1px 1px 4px 4px;
$border-solid:1px solid $border-color;

$bg-color-1:$grey-1;


$shadow-color:$grey-5;

$shadow-up: 0 -1px 5px $shadow-color;
$shadow-down: 0 1px 5px $shadow-color;
$shadow-left: -1px 0 5px $shadow-color;
$shadow-right: 1px 0 5px $shadow-color;

$padding-left-more: 0 30px 0 10px;
$padding-right-more: 0 10px 0 30px;

$button-active-bg: #ffffff;
$button-bg: $grey-1;

$font-size-large:16px;
$font-size:14px;
$font-size-small:13px;

$animation-duration:.32s;


