/*

Darcula color scheme from the JetBrains family of IDEs

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #131b2e;
  color: #bababa;
}
a{
  color: #3498DB;
}
code{
 span{
   display: inline-block;
   margin-bottom: 5px;
   margin-top: 5px;
 }

}
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #ffb311;
}

.hljs-attr{
  color: #1ea83f;
}
.hljs-title{
  color: #6ed766;
}

.hljs-params {
  color: #b9b9b9;
}

.hljs-string {
  color: #aafa91;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #1ea83f;
}
