/*

Darcula color scheme from the JetBrains family of IDEs

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #131b2e;
  color: #bababa;
}
a{
  color: #3498DB;
}

pre {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  code {
    width: 100%;
    border-radius: 7px;
    padding: 20px !important;
    font-size: 16px;
    line-height: 1.7;
    span{
      display: inline-block;
    }
    p{
      line-height: 1.75;
    }
  }
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #ffb311;
}

.hljs-attr{
  color: #aafa91;
}
.hljs-title{
  color: #6ed766;
}

.hljs-params {
  color: #b9b9b9;
}

.hljs-string {
  color: #1ea83f;
}

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #aafa91;
}


.markdown-body, .demo{
  color: #dae3f6;
  strong {
    color: #e84c3b;
  }
  >table {
    width: 100%;
    margin-top: 100px;
    border-collapse: collapse;
    font-family: Menlo;
    margin-bottom: 30px;


    th {
      color: #e84c3b;
      text-align: start;
      padding: 10px;
    }

    td {
      font-size: 14px;

      &:nth-child(odd) {
        color: #eec15c;
        font-size: 16px;
      }

      &:nth-child(3) {
        color: #48f68d;
        font-size: 16px;
      }

      &:nth-child(5) {
        color: #8189f1;
        font-size: 16px;
      }

      padding: 10px;
    }

    tr {
      border-bottom: 1px solid #ffffff !important;
    }
  }
  h1 {
    color: #ffb311;
  }

  h2 {
    color: #eec15c;
  }
  h2,h1{
    font-family: Futura;
  }
  pre{

  }
  h3 {
    color: #eac674;
  }
  em{
    color: #3498DB;
  }
}
