$theme-color: #2ECC71;
$text-color: rgba(0, 0, 0, 0.52);
$text-color-fade-1: rgba(0, 0, 0, 0.42);
$text-color-fade-2: rgba(0, 0, 0, 0.22);
$background-color-light: rgba(0, 0, 0, 0.05);
$background-color-dark: rgba(0, 0, 0, 0.12);
$transition: .3s all ease;
$border-color-1: #dde0e7;
$border-color-2: #e7eaf1;

.better-datepicker {
  * {
    box-sizing: border-box;
  }

  &-wrapper {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: 14px;
    list-style: none;
    min-width: 320px;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;

    svg {
      width: 14px;
      height: 14px;
      fill: $text-color-fade-1;
      cursor: pointer;
      transition: $transition;

      &:hover {
        fill: $theme-color;
      }
    }
  }

  &-header {
    width: 320px;
    height: 30px;
    line-height: 30px;
    margin: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: $text-color;

    span {
      cursor: pointer;
      padding: 0 4px;
      transition: $transition;
      &:hover {
        color: $theme-color;
      }
    }

    svg {
      margin-top: 8px;
    }
  }

  &-day, &-month, &-year {
    width: 350px;
    text-align: center;
    padding: 5px 20px;

    span {
      cursor: pointer;
      &:hover {
        color: $theme-color;
      }
    }
  }

  &-day {
    span {
      display: inline-block;
      line-height: 24px;
      padding: 5px;
      width: 41px;
      height: 35px;
    }

    &-bar {
      border-bottom: 1px solid $border-color-2;

      span {
        cursor: inherit;

        &:hover {
          color: inherit;
        }
      }
    }

    &-content {

      .pre, .next {
        opacity: .3;

        &:hover {
          color: inherit;
        }
      }

      span {
        margin: 4px 0;
        position: relative;
      }

      .selected {
        color: white;

        &:after {
          display: block;
          content: '';
          border-radius: 50%;
          background-color: $theme-color;
          position: absolute;
          z-index: -1;
          width: 28px;
          height: 28px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          color: white !important;
        }
      }
      .inRange {
        background: #e8f8ef;
      }
      .range-start{
        color: white;
        background-color: $theme-color;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        &:hover {
          color: white !important;
        }
      }
      .range-end{
        color: white;
        background-color: $theme-color;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        &:hover {
          color: white !important;
        }
      }
    }
  }

  &-month {
    span {
      display: inline-block;
      line-height: 60px;
      padding: 5px;
      width: 70px;
      height: 70px;
    }
  }

  &-year {
    text-align: start;

    span {
      text-align: center;
      display: inline-block;
      line-height: 60px;
      padding: 5px;
      width: 77px;
      height: 70px;
    }
  }
}

.show {
  display: inline-block;
}

.hidden {
  display: none;
}

@keyframes show {
  0% {
    display: block;
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    display: block;
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: scaleY(.8);
  }
}


.better-datepicker-show {
  animation: show .3s;
}

.better-datepicker-hidden {
  animation: hidden .3s forwards;
}

.better-datepicker-float {
  float: left;
  &:first-child {
    border-right: 1px solid #e4e4e4;
  }
}

.better-datepicker-today {
  color: $theme-color;
}

.better-datepicker-default-cursor {
  cursor: default !important;
  &:hover{
    color: inherit !important;
  }
}
