$theme-color: #2ecc71;
$range-color: lighten($theme-color, 46);
$text-header-color: #858585;
$text-th-color: #969595;
$text-tbody-color: #5f5f5f;
$text-tbody-light-color: #bcbbbb;

$border-color: #f1f0f0;
$shadow-color: #737373;
$shadow: 0 1px 6px $shadow-color;
$transition: .3s all ease;
.better-datepicker {
  * {
    box-sizing: border-box;
    font-family: Futura, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &-wrapper {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: $shadow;
    position: absolute;

    svg {
      fill: #858585;
      cursor: pointer;
      transition: $transition;
    }
  }

  &-header {
    height: 50px;
    line-height: 26px;
    padding: 12px 0;
    margin: 0 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: $text-header-color;

    span {
      transition: $transition;
      margin: 0 4px;
    }

    svg {
      margin-top: 5px;
    }
  }

  &-date, &-month, &-year {
    span {
      cursor: pointer;
      color: $text-tbody-color;

      &:hover {
        color: $theme-color;
      }
    }

    td {
      color: $text-tbody-color;
      border-radius: 5px;

      &:hover {
        color: $theme-color;
      }
    }
  }

  &-date, &-month, &-year {
    width: 100%;
    border-collapse: collapse;

    .better-datepicker-disabled {
      div {
        color: $text-tbody-light-color;
        cursor: not-allowed;
      }

      &:hover {
        color: $text-tbody-color !important;
      }
    }

  }

  &-inRange, &-range-start, &-range-end {
    > div {
      background: $range-color;
    }
  }

  &-date {

    td, th {
      border: none;
      cursor: pointer;
      text-align: center;

      div {
        height: 36px;
        line-height: 36px;
      }
    }

    thead {
      border-bottom: 1px solid $border-color;
    }

    td {
      position: relative;
      cursor: pointer;
    }

    th {
      font-weight: 400;
      cursor: default;
      color: $text-th-color;
    }
  }

  &-date &-selected {
    div {
      color: white;
      background-color: $theme-color;
      border-radius: 5px;

      &:hover {
        color: white !important;
      }
    }
  }

  &-date &-range-end {
    > div {
      color: white;
      background-color: $theme-color;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      &:hover {
        color: white;
      }
    }
  }

  &-date &-range-start {
    > div {
      color: white;
      background-color: $theme-color;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      &:hover {
        color: white;
      }
    }
  }

  &-week {
    tr {
      &:hover {
        .better-datepicker-weekStart, .better-datepicker-weekEnd {
          div {
            background-color: $theme-color;
          }
        }
      }

      &:hover {
        div {
          transition: $transition;
          background-color: $border-color;
          color: $text-tbody-color;
        }
      }
    }
  }


  &-date &-pre, &-date &-next {
    color: $text-tbody-light-color;

    > div {
      color: $text-tbody-light-color;
      background: #ffffff;
    }
  }


  &-month, &-year {
    td {
      height: 60px;
      width: 80px;
      cursor: pointer;
      padding: 0;

      > div {
        height: 48px;
        line-height: 38px;
        padding: 5px 6px;
      }
    }
  }

  &-month, &-year {
    .better-datepicker-range-start, .better-datepicker-range-end {
      > div {
        color: white;
        background-color: $theme-color;
        border-radius: 20px;
      }
    }

    .better-datepicker-range-start {
      > div {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .better-datepicker-range-end {
      > div {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &-month &-selected {
    div {
      color: white;
      background-color: $theme-color;
      border-radius: 5px;

      &:hover {
        color: white;
      }
    }
  }

  &-year &-selected {
    div {
      color: white;
      background-color: $theme-color;
      border-radius: 5px;

      &:hover {
        color: white;
      }
    }
  }

  &-pointerCursor {
    cursor: pointer;

    &:hover {
      color: $theme-color;
    }
  }

  &-today {
    div {
      border: 1px solid $theme-color;
      border-radius: 5px;
    }
  }

  &-weekStart {
    div {
      background: $theme-color;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      color: white !important;
    }
  }

  &-weekEnd {
    div {
      background: $theme-color;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      color: white !important;
    }
  }

}
