$theme-color: #2ECC71;
$range-color: lighten($theme-color, 46);
$text-header-color: #858585;
$text-th-color: #969595;
$text-tbody-color: #5f5f5f;

$border-color: #dde0e7;
$shadow-color: #737373;
$shadow: 0 1px 6px $shadow-color;
$transition: .3s all ease;
.better-datepicker {
  * {
    box-sizing: border-box;
    font-family: Futura, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &-wrapper {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: $shadow;
    position: absolute;

    svg {
      fill: #858585;
      cursor: pointer;
      transition: $transition;

      &:hover {
        fill: $theme-color;
      }
    }
  }

  &-header {
    height: 50px;
    line-height: 26px;
    padding: 12px 0;
    margin: 0 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: $text-header-color;

    span {
      transition: $transition;
      margin: 0 4px;
    }

    svg {
      margin-top: 5px;
    }
  }

  &-day, &-month, &-year {
    span {
      cursor: pointer;
      color: $text-tbody-color;
      &:hover {
        color: $theme-color;
      }
    }
    td{
      color: $text-tbody-color;
    }
  }

  &-day, &-month {
    width: 100%;
    border-collapse: collapse;

    .disabled {
      div {
        opacity: .3;
        cursor: not-allowed;
      }
    }

    .inRange, .range-start, .range-end {
      > div {
        background: $range-color;
      }
    }

    .range-start {
      > div {
        color: white;
        background-color: $theme-color;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

        &:hover {
          color: white !important;
        }
      }
    }

    .range-end {
      > div {
        color: white;
        background-color: $theme-color;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        &:hover {
          color: white !important;
        }
      }
    }

  }

  &-day {

    td, th {
      border: none;
      cursor: pointer;
      text-align: center;

      div {
        height: 36px;
        line-height: 36px;
      }
    }

    thead {
      border-bottom: 1px solid $border-color;
    }

    td {
      position: relative;
      cursor: pointer;
    }

    th {
      font-weight: 400;
      cursor: default;
      color: $text-th-color;
    }

    .pre, .next {
      div {
        opacity: .3;
        background: #ffffff;

        &:hover {
          color: inherit;
        }
      }
    }

    .selected {
      div {
        color: white;

        &:after {
          display: block;
          content: '';
          border-radius: 50%;
          background-color: $theme-color;
          position: absolute;
          z-index: -1;
          width: 28px;
          height: 28px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          color: white !important;
        }
      }
    }
  }

  &-month {
    td {
      height: 60px;
      width: 80px;
      padding: 6px 0;
      cursor: pointer;

      > div {
        height: 48px;
        line-height: 38px;
        padding: 5px 6px;
      }
    }

    .selected {
      color: $theme-color;
    }

    .range-start, .range-end {
      > div {
        background-color: $range-color;

        div {
          color: white;
          background-color: $theme-color;
          border-radius: 20px;
        }
      }
    }

  }

  &-year {
    text-align: start !important;

    span {
      text-align: center;
      display: inline-block;
      line-height: 60px;
      padding: 5px;
      width: 70px;
      height: 60px;
    }
  }

  &-today {
    color: $theme-color;
  }

  &-pointer-cursor {
    cursor: pointer;

    &:hover {
      color: $theme-color;
    }
  }

}
