$theme-color: #2ECC71;
$text-color: rgba(0, 0, 0, 0.52);
$text-color-fade: rgba(0, 0, 0, 0.42);
$background-color-light: rgba(0, 0, 0, 0.05);
$background-color-dark: rgba(0, 0, 0, 0.12);
$transition: .3s all ease;
$border-color: #dde0e7;

.better-datepicker {
  * {
    box-sizing: border-box;
  }

  &-wrapper {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: 14px;
    list-style: none;
    min-height: 200px;
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;

    svg {
      width: 14px;
      height: 14px;
      fill: $text-color-fade;
      cursor: pointer;
      transition: $transition;

      &:hover {
        fill: $theme-color;
      }
    }
  }

  &-header {
    height: 50px;
    line-height: 26px;
    padding: 12px 0;
    margin: 0 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: $text-color;

    span {
      cursor: pointer;
      transition: $transition;
      margin: 0 4px;

      &:hover {
        color: $theme-color;
      }
    }

    svg {
      margin-top: 5px;
    }
  }

  &-day, &-month, &-year {
    span {
      cursor: pointer;

      &:hover {
        color: $theme-color;
      }
    }
  }

  &-day {
    width: 100%;

    td, th {
      border: none;
      cursor: pointer;
      text-align: center;

      div {
        height: 36px;
        line-height: 36px;
      }
    }

    thead {
      border-bottom: 1px solid $border-color;
    }

    td {
      position: relative;
      cursor: pointer;
    }

    th {
      font-weight: 400;
    }

    .pre, .next {
      opacity: .3;

      &:hover {
        color: inherit;
      }
    }

    .selected {
      color: white;

      &:after {
        display: block;
        content: '';
        border-radius: 50%;
        background-color: $theme-color;
        position: absolute;
        z-index: -1;
        width: 28px;
        height: 28px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: white !important;
      }
    }

    .inRange {
      background: #e8f8ef;
    }

    .range-start {
      color: white;
      background-color: $theme-color;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      &:hover {
        color: white !important;
      }
    }

    .range-end {
      color: white;
      background-color: $theme-color;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      &:hover {
        color: white !important;
      }
    }
  }

  &-day, &-month {
    border-collapse: collapse;
  }

  &-month {
    td {
      height: 60px;
      width: 80px;
      padding: 6px 0;
      cursor: pointer;

      > div {
        height: 48px;
        line-height: 38px;
        padding: 5px 6px;
      }
    }

    .selected {
      color: $theme-color;
    }

    .inRange, .range-start, .range-end {
      > div {
        background: #e8f8ef;
      }
    }

    .range-start {
      > div {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }
    }

    .range-end {
      > div {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }

    .range-start, .range-end {
      > div {
        div {
          color: white;
          background-color: $theme-color;
          border-radius: 20px;

          &:hover {
            color: white !important;
          }
        }
      }
    }

  }

  &-year {
    text-align: start !important;

    span {
      text-align: center;
      display: inline-block;
      line-height: 60px;
      padding: 5px;
      width: 70px;
      height: 60px;
    }
  }
}

.better-datepicker-today {
  color: $theme-color;
}

.better-datepicker-default-cursor {
  cursor: default !important;

  &:hover {
    color: inherit !important;
  }
}
